/* src/components/HomepageHeader/styles.module.css */
.heroBanner {
  padding: 4rem 0;
  text-align: justify;
  position: relative;
  overflow: hidden;
}

.svgAnimated {
  position: absolute;
  z-index: 1;
  transform: translateY(30%) translateX(25%);
}

/* Add more specific breakpoints */
@media screen and (max-width: 1200px) {
  .svgAnimated {
    transform: translateY(35%) translateX(15%);
  }
}

@media screen and (max-width: 768px) {
  .svgAnimated {
    transform: translateY(40%) translateX(5%);
  }
}

@media screen and (max-width: 480px) {
  .svgAnimated {
    transform: translateY(45%) translateX(-5%);
  }
}

/* Profile image with spin hover effect */
.profileImage {
  transition: transform 0.3s ease-in-out;
  
}

.profileImage:hover {
  transform: rotate(360deg);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: content-distribution;
}